<div class="error notice is-dismissible lk-error">
    <p>
    	You are currently using the OAuth implementation for the LaunchKey WordPress Plug-In. The OAuth implementation has been deprecated for a more secure native implementation. Please migrate to a native implementation as soon as possible. The OAuth implementation will be completely removed in future releases of the LaunchKey WordPress Plug-In.  Failure to migrate to a native implementation will prevent you from being able to update your LaunchKey WordPress Plug-In and still allow users to authenticate with LaunchKey. <a href="/wp-admin/options-general.php?page=launchkey-settings#wizard-1">Click here to start wizard for reconfiguration.</a>
    </p>
    <button type="button" class="notice-dismiss">
        <span class="screen-reader-text">Dismiss this notice.</span>
    </button>
</div>