<h3>%%%app_display_name%%% Options</h3>
<table class="form-table">
    <tbody>
    <tr>
        <th><label>Status</label></th>
        <td>
            <span id="launchkey-paired-status" class="launchkey-status-indicator launchkey-box-green">Paired</span>
            <a href="%%%unpair_uri%%%" title="Click here to un-pair your %%%app_display_name%%% account with this WordPress account">
                Un-Pair
            </a>
            <span class="description">Note: Unpairing your account will log you out of WordPress.</span>
        </td>
    </tr>
    <tr>
        <th><label>WordPress Password</label></th>
        <td>
            <span id="launchkey-password-status" class="launchkey-status-indicator launchkey-box-yellow">Active</span>
            <a href="%%%password_remove_uri%%%" title="Click here to remove your WordPress password">
                Remove WordPress password
            </a>
        </td>
    </tr>
    </tbody>
</table>