<h3>%%%app_display_name%%% Options</h3>
<table class="form-table">
    <tr>
        <th><label>WordPress Password</label></th>
        <td>
            <span id="launchkey-paired-wp-password" class="launchkey-status-indicator launchkey-box-green">Removed</span> <span class="description">Use form fields below to add password</span>
            <br />
            <span class="description">
                Hint: If you need to re-enable password based login but cannot login with %%%app_display_name%%%,
                you can perform password reset via the login screen at any time.
            </span>
        </td>
    </tr>
</table>
