<h3>%%%app_display_name%%% Options</h3>
<table class="form-table">
    <tbody>
    <tr>
        <th><label>Status</label></th>
        <td>
            <span id="launchkey-paired-status" class="launchkey-status-indicator launchkey-box-red">Not Paired</span>
            <a class="button" href="%%%pair_uri%%%"
               title="Click here to pair your %%%app_display_name%%% account with this WordPress account">Pair</a>
            <span class="description">Note: Once paired, you will be able to remove your WordPress password and prevent password based login with your user.</span>
        </td>
    </tr>
    </tbody>
</table>